body {
    text-align: center;
    background: linear-gradient(to right, #78a8df, #ced4dd); /* Degradado de dos colores */
    padding: 20px;
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}


h1{
    font-weight: 300px;
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

